{
  "source": {
    "directories": [
      "database/DriverBundle/connection",
      "database/DriverBundle/factory"
    ],
    "excludes": [
      "tests"
    ]
  },
  "timeout": 40,
  "logs": {
    "text": "humbuglog.txt"
  }
}