<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit backupGlobals="false"
         colors="true">
    <testsuites>
        <testsuite name="mysqli driver unit tests">
            <directory>tests/connection/mysqli</directory>
            <directory>tests/connection/pdo</directory>
        </testsuite>
        <testsuite name="driver functional tests">
            <file>tests/connection/MysqliFunctionalConnectionTest.php</file>
            <file>tests/connection/PDOFunctionalConnectionTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="coverage.txt" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">*</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
